[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
	branch = master
	ignore = dirty
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
